.title{
    color: #2F4F4F;
    text-decoration: none;
}
#movieDBNavigation a:hover{
    text-decoration: underline;
}

#content a:hover {
    color: #002fa7;
    text-decoration: underline;
}

#caption{
    margin: 3%;
}

#noContent{
    display: none;
}
#tableHead{
    visibility: hidden;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.itemRow{
    background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}
#input{
    float: right;
}
#content{
    clear: both;
}
